<h2 class="screen-align">Createscreen</h2>
<div id="template-i9xf" class="gjs-row">
    <div id="template-i38u" class="gjs-cell">
        <label id="template-iupg" class="label ">name</label>
        <input id="template-ie8g" [(ngModel)]="ticket.name" [ngModelOptions]="{standalone: true}"
        ngDefaultControl class="input form-control " />
        <div id="template-ilfz7" (click)="GpCreate()" class="button btn btn-primary ">create</div>
    </div>
    <div id="template-iwce" class="gjs-cell">
        <label id="template-iiwr" class="label ">description</label>
        <input id="template-ie6ii" [(ngModel)]="ticket.description"
        [ngModelOptions]="{standalone: true}" ngDefaultControl class="input form-control "
        />
    </div>
</div>